@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Light mode background color */
  body {
    background-color: #f3f4f6;
    /* Light background */
    font-family: 'MyFont', sans-serif !important;
  }

  /* Dark mode background color */
  .dark body,
  body.dark {
    background-color: #0C1716;
    /* Dark background */
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 158 64% 24%;
    --card: 0 0% 100%;
    --card-foreground: 158 64% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 158 64% 24%;
    --primary: 158 64% 24%;
    --primary-foreground: 0 0% 98%;
    --secondary: 158 76% 33%;
    --secondary-foreground: 0 0% 9%;
    --muted: 158 76% 33%;
    --muted-foreground: 158 64% 24%;
    --accent: 158 84% 41%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 158 76% 33%;
    --input: 158 76% 33%;
    --ring: 158 64% 24%;
    --chart-1: 158 64% 24%;
    --chart-2: 158 76% 33%;
    --chart-3: 158 84% 41%;
    --chart-4: 158 64% 24%;
    --chart-5: 158 76% 33%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 160 20% 7%;
    --foreground: 158 84% 41%;
    --card: 160 20% 7%;
    --card-foreground: 158 84% 41%;
    --popover: 160 20% 7%;
    --popover-foreground: 158 84% 41%;
    --primary: 158 84% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 158 76% 33%;
    --secondary-foreground: 0 0% 100%;
    --muted: 158 76% 33%;
    --muted-foreground: 158 84% 41%;
    --accent: 158 64% 24%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 158 30% 30%;
    --input: 158 30% 30%;
    --ring: 158 84% 41%;
    --chart-1: 158 84% 41%;
    --chart-2: 158 76% 33%;
    --chart-3: 158 64% 24%;
    --chart-4: 158 84% 41%;
    --chart-5: 158 76% 33%;
  }
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Sentient-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Sentient-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Sentient-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


/* For Tailwind, target the same class */
.cl-userButtonOuterIdentifier {
  @apply text-secondary !important;
}
.cl-userButtonOuterIdentifier{
  @apply text-white !important;
}
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
